@model BackEnd.Models.Category

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    

@foreach (var item in Model.Items)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) |
            @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
        </td>
    </tr>
}

</table>
